*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.app {
  display: block;
  margin: 0 auto;
}

.header {
  background-color: #e9e9e969;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  /* border: 1px solid black; */
  align-items: center;
}

.logo {
  width: 100px;
  cursor: pointer;
}

.nav-items > ul {
  font-size: 20px;
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {

  cursor: pointer;
  padding: 10px;
  margin: 10px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  gap: 10px;
}

.search-container input {
  min-width: 250px;
  padding: 10px;
}

.search-container input:focus {
  outline: 0;
}

.search-container button {
  padding: 10px 15px;
  cursor: pointer;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin: 0 40px;
}

.res-card {
  width: 230px;
  /* height: 300px; */
  padding: 5px;
  /* padding-bottom: 20px; */
  border: 1px solid transparent;
  margin-bottom: 10px;
}

.res-card:hover {
  border: 1px solid black;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  
}

.search {
  padding: 10px;
}

.res-logo {
  width: 100%;
}

.footer {
  padding: 20px 10px;
  border: 1px solid black;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}

.shimmer-container {
  padding-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin: 0 40px;
}

.shimmer-card {
  width: 230px;
  height: 300px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.shimmer-image {
  width: 100%;
  height: 150px;
  background-color: #f6f7f8;
  border-radius: 8px;
  margin-bottom: 10px;
}

.shimmer-details {
  padding: 10px 0;
}

.shimmer-name {
  width: 70%;
  height: 20px;
  background-color: #f6f7f8;
  border-radius: 4px;
  margin-bottom: 5px;
}

.shimmer-rating {
  width: 50px;
  height: 20px;
  background-color: #f6f7f8;
  border-radius: 4px;
  margin-bottom: 5px;
}

.shimmer-address {
  width: 100%;
  height: 15px;
  background-color: #f6f7f8;
  border-radius: 4px;
}

.footer a{
  text-decoration: none;
}

.login{
  padding: 0 20px;
  border-radius: 10px;
  cursor: pointer;
}

.errImg{
  width: 72vw;
}